<a href="https://colab.research.google.com/github/brijeshchoudhury99/BRIJESH-CHOUDHURY/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
from random import seed
from random import randrange
from csv import reader
from math import sqrt

In [6]:
read_file = pd.read_excel ("/content/knn.xlsx")
read_file.to_csv ("knn.csv", 
                  index = None,
                  header=True)
df = pd.DataFrame(pd.read_csv("knn.csv"))
print(df.head())

   x1  x2  y
0  95  90  1
1  23  30  0
2  78  89  1
3  67  99  1
4  45  34  0

In [7]:
df

   x1  x2  y
0  95  90  1
1  23  30  0
2  78  89  1
3  67  99  1
4  45  34  0
5  67  87  1
6  23  12  0
7  32  14  0
8  90  88  1
9  32  21  0

In [8]:
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Test distance function
df = [[95,90,1],
	[23,30,0],
	[78,89,1],
	[67,99,1],
	[45,34,0],
	[67,87,1],
	[23,12,0],
	[32,14,0],
	[90,88,1],
	[32,21,0]]
row0 = df[0]
for row in df:
	distance = euclidean_distance(row0, row)
	print(distance)

0.0
93.72299611087985
17.029386365926403
29.410882339705484
75.07329751649384
28.160255680657446
106.15083607772479
98.71676655968832
5.385164807134504
93.43446901438462

In [9]:
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors
 
# Test distance function
df = [[95,90,1],
	[23,30,0],
	[78,89,1],
	[67,99,1],
	[45,34,0],
	[67,87,1],
	[23,12,0],
	[32,14,0],
	[90,88,1],
	[32,21,0]]
neighbors = get_neighbors(df, df[0], 3)
for neighbor in neighbors:
	print(neighbor)

[95, 90, 1]
[90, 88, 1]
[78, 89, 1]

In [10]:
def predict_classification(train, test_row, num_neighbors):
	neighbors = get_neighbors(train, test_row, num_neighbors)
	output_values = [row[-1] for row in neighbors]
	prediction = max(set(output_values), key=output_values.count)
	return prediction
 
# Test distance function
df = [[95,90,1],
	[23,30,0],
	[78,89,1],
	[67,99,1],
	[45,34,0],
	[67,87,1],
	[23,12,0],
	[32,14,0],
	[90,88,1],
	[32,21,0]]
prediction = predict_classification(df, df[0], 3)
print('Expected %d, Got %d.' % (df[0][-1], prediction))

Expected 1, Got 1.